<header>
  <div class="nav-container">
    <div class="leftSection">
      <div class="logo"><a href="/admin/adminHome">moas</a></div>
      <div class="page">>admin page</div>
    </div>
  </div>
</header>
