<a href="/admin/adminHome">Dashboard</a>
<a href="/admin/products">Products</a>
<a href="/admin/users">User Management</a>
<a href="/admin/category">Category</a>
<a href="/admin/orders">Orders</a>
<a href="/admin/sales-report">Sales Report</a>
<a href="/admin/coupon">Coupon</a>
<a href="/admin/adminBanner">Banner Control</a>
<a href="/admin/referralReward">Referral Management</a>
<a href="/admin/adminProfile">Profile</a>
