<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>page not found</title>
    <style>
      body {
        font-family: "poppins", sans-serif;
        margin: 0;
        padding: 0;
      }
      header {
        padding: 5px;
        border-bottom: 1px solid rgb(171, 168, 168);
      }
      nav {
        display: flex;
        width: 85%;
        margin: 0 auto;
      }
      nav .logo {
        font-weight: 500;
        font-size: 18px;
      }

      /* error page body */
      .container-body {
        width: 85%;
        margin: 20px auto;
      }
      .message {
        font-family: "Times New Roman", Times, serif;
        font-size: 28px;
        color: rgb(159, 19, 19);
        margin-bottom: 10px;
      }
      .error-box a {
        color: rgb(23, 34, 159);
        font-size: 14px;
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">moas</div>
        <div class="logo-head"></div>
      </nav>
    </header>
    <div class="container-body">
      <div class="error-box">
        <div class="message">404 Page Not Found</div>
        <a href="/home-page">take me to home</a>
      </div>
    </div>
  </body>
</html>
