body {
    font-family: "poppins", sans-serif;
    background-color: rgb(251, 251, 251);
  }
  
  .sidebar-left {
    display: flex;
    flex-direction: column;
    padding:5px;
    width:13%;
    background-color: white;
    box-shadow: 0px 2px 7px rgb(228, 228, 228);
  }
  .sidebar-left a {
    text-decoration: none;
    color: black;
    padding: 15px 10px 15px 2px;
    font-size: 17px;
  }
  .sidebar-left a:hover {
    font-weight: 500;
  }