.container {
    width: 95%;
    margin: 70px auto;
    display: flex;
}

.content-body{
    width:85%;
    margin-left: 3%;
}
.nav-links{
    margin-bottom: 10px;
}
.nav-links a{
    font-size: 14px;
    text-decoration: none;
    color:rgb(182, 181, 181)
}
.nav-links span{
    margin-left: 5px;
    font-weight: 500;
    font-size: 14px;
    color:rgb(95, 94, 94)
}
.content-box{
    border:1px solid rgb(207, 206, 206);
    background-color: white;
    width:30%;
    display: flex;
    flex-direction: column;
    padding:15px;
    border-radius: 3px;
}
.content-box .box-head{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 15px;
}
.content-box form label{
    display: inline;
    margin-bottom: 10px;
}

#imageError{
    font-size: 14px;
    color:rgb(201, 34, 34);
    margin: 0;
    margin-bottom: 8px;
    display: none;    
}
.image-preview{
    width:50%;
    margin-bottom: 20px;
    margin-top: 8px;
}
.image-preview img{
    width:100%;
    border:2px solid rgb(101, 100, 100);
    padding:2px
}
#bannerText{
    padding:5px;
    outline: none;
    border: 1px solid rgb(162, 162, 162);
}


#titleError{
    margin:0;
    font-size: 14px;
    color:rgb(183, 23, 23)
}

#submit{
    margin-top: 15px;
    background-color: rgb(224, 187, 65);
    color:black;
    border:none;
    padding:5px 8px;
    font-weight: 500;
    border-radius: 4px;
}

#submit:hover{
    cursor: pointer;
}