.banner-container{
    width:100%;
    height:600px;
    margin:58px auto;
}

.bannerHome{
    width:100%;
    height:100%;
    background-color: rgb(200, 191, 181);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: hidden;
}

.bannerHomeImg{
    width:40%;
    height:100%;
}

.bannerHomeImg img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.bannerNoteSection{
    width:50%;
    height: 100%;
    display: flex;
    justify-content: start;
}

.bannerText{    
    font-size: 50px;
    margin-top: 30%;
    font-weight: 500;
}

/* product container */
.product-container{
    width:90%;
    margin:20px auto
}

.image-boxes{
    display: flex;
    justify-content: space-between;
}

.image-boxes a{
    width:17%;
    text-decoration: none;
    color:black;    
}


.box{
    width:100%;
    height:250px;
    display: flex;
    flex-direction: column;
    transition:0.3s
}
.image-boxes .box:hover{
    box-shadow: 0px 0px 6px rgb(99, 99, 99);
}

.box-image{
    width:100%;
    height:100%;
    overflow: hidden;
}

.box-image img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.box-head{
    padding:5px;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    
}

/* new arrival box */
.new-arrival-box{
    display: flex;
    flex-direction: column;
    width:70%;
    height:100vh;
    margin:10% auto 20px;
}
.new-arrival-head{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 5%;
}
.new-arrival-images{    
    display: flex;
    justify-content: space-between;
    height:650px
}
.image-one, .content-one{
    width:45%;
    height:100%;
    display: inline-block;

}
.content-one .content{
    bottom :27%;
    left:3%;
    font-size: 50px;
    color: rgb(6, 107, 6);
    font-family: 'Times New Roman', Times, serif;
}
.content-one span{
    font-size: 55px;
}
.content-one .contentOne-note{
    /* font-family: 'Times New Roman', Times, serif; */
    font-size:20px ;
    opacity: 0.9;
}
.image-one img, .image-two img{
    width:100%;
    height:100%;
    object-fit: cover;
    
    
}
.image-one:hover, .image-two:hover{    
    cursor: pointer;
}


